<div class="todos">
    <form (submit) = "AddTodo()">
        <input
        type="text" name='inputTodo' placeholder="add todo here..." class="todo-input" [(ngModel)]="inputTodo"
        />
        <input type="submit" value="add" class="todo-submit"/>

    </form>
    
    <div  *ngFor="let todo of todos; let i =index;" class="todo {{(todo.completed ? 'done' : '')}}">
        <div class="id">{{i}}</div>
        <div class="content" (click)="toggledone(i)"> {{todo.content}}</div>
            
        <button class="delete"(click)="toggledelete(i)">Remove</button>
        
    </div>
</div>
